/* Dark Mode */
body {
    background-color: #171717;
}

.bg-sidebar {
    background-color: #212121;
}

.cs-brand {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 0px;
}

.cs-text-1 {
    color: #ffffff;
    font-size: 15px;
}

.cs-text-1.cs-active {
    color: #ffffff;
    background-color: #435ebe;
}

.cs-text {
    color: #ffffff;
}

.cs-breadcrumb {
    font-size: 15px;
    color: #ffffff;
}

.cs-icon {
    color: #ffffff;
    font-size: 15px;
}

.cs-card {
    background-color: #212121;
}

.cs-card-header {
    background-color: #212121;
}

.cs-card-body {
    background-color: #212121;
}

.cs-card-footer {
    background-color: #212121;
}

.cs-bg-1 {
    background-color: #212121;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff;
}