/* Light Mode */
body {
    background-color: #f1f2f6;
}

.bg-sidebar {
    background-color: #ffffff;
}

.cs-brand {
    color: black;
    font-size: 25px;
    margin-bottom: 0px;
}

.cs-text-1 {
    color: black;
    font-size: 15px;
}

.cs-text-1.cs-active {
    color: white;
    background-color: #435ebe;
}

.cs-breadcrumb {
    font-size: 15px;
}