.cs-brand {
    font-size: 25px;
    margin-bottom: 0px;
}

.cs-text-1 {
    font-size: 15px;
}

[data-bs-theme=light] .bg-sidebar {
    border-right: 1px solid #d2d2d2;
}

[data-bs-theme=dark] .bg-sidebar {
    border-right: 1px solid #424549;
}

[data-bs-theme=dark] .cs-text-1 {
    color: #ffffff;
}

[data-bs-theme=light] .cs-text-1 {
    color: #000000;
}

.cs-text-1.cs-active {
    color: #ffffff;
    background-color: #435ebe;
}

.cs-breadcrumb {
    font-size: 17px;
}

.cs-icon {
    font-size: 20px;
}

/* Switch Dark/Light Mode */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 14px;
    scale: 0.7;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #19a2c1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.switch-checkbox {
    padding: 10px;
}

@media (max-width: 760px) {
    /* Untuk menghilangkan side bar kalo masuk ke tampilan mobile */
    [data-bs-theme="light"] .bg-sidebar,
    [data-bs-theme="dark"] .bg-sidebar {
        display: none !important;
    }
    
    [data-bs-theme="light"] .cs-btn-side-mobile,
    [data-bs-theme="dark"] .cs-btn-side-mobile {
        display: block !important;
    }
}