/* Brand */
.cs-brand {
    font-size: 25px;
    margin-bottom: 0px;
}

/* Sidebar */
[data-bs-theme=light] .bg-sidebar {
    border-right: 1px solid #d2d2d2;
}

[data-bs-theme=dark] .bg-sidebar {
    border-right: 1px solid #424549;
}

/* Text */
.cs-text-1 {
    font-size: 15px;
}

[data-bs-theme=dark] .cs-text-1 {
    color: #ffffff;
}

[data-bs-theme=light] .cs-text-1 {
    color: #000000;
}

/* Active Buttom Sidebar */
[data-bs-theme=light] .cs-text-1.cs-active {
    color: #ffffff;
    /* background-color: #435ebe; */
    background-color: #000000;
}

[data-bs-theme=dark] .cs-text-1.cs-active {
    color: #000000;
    /* background-color: #435ebe; */
    background-color: #ffffff;
}

/* Breadcrumb */
.cs-breadcrumb {
    font-size: 17px;
}

/* Icon */
.cs-icon {
    font-size: 20px;
}

/* Switch Dark/Light Mode */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 14px;
    scale: 0.7;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #ffffff;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    /* background-color:  gray; */
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

[data-bs-theme=light] .slider:before {
    background-color: #ffffff;
}

[data-bs-theme=dark] .slider:before {
    background-color: #000000;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.switch-checkbox {
    padding: 10px;
}

/* Width Responsive */
@media (max-width: 760px) {
    /* Untuk menghilangkan side bar kalo masuk ke tampilan mobile */
    [data-bs-theme="light"] .bg-sidebar,
    [data-bs-theme="dark"] .bg-sidebar {
        display: none !important;
    }
    
    [data-bs-theme="light"] .cs-btn-side-mobile,
    [data-bs-theme="dark"] .cs-btn-side-mobile {
        display: block !important;
    }
}

/* Ant Desin / Tables */
.transparent-table .ant-table-thead > tr > th {
    /* background-color: transparent !important; */
}

.transparent-table .ant-table-thead > tr > th:first-child {
    /* Menambahkan sudut kiri atas */
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.transparent-table .ant-table-thead > tr > th:last-child {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

/* Menambahkan gaya untuk kolom header Actions agar berada di kanan */
.ant-table-thead > tr > th:last-child {
    /* Menempatkan judul kolom ke kanan */
    text-align: right !important;
}

.transparent-table .ant-table-tbody > tr > td {
    background-color: transparent !important;
}

.transparent-table .ant-table {
    background-color: transparent !important;
}
